<div class="mb-3">
    <label for="plaintextString" class="form-label">Plain Text</label>
    <textarea class="form-control" id="plaintextString" rows="3"></textarea>
    <div class="d-flex">
        <div class="container flex-grow-1"></div>
        <button type="button" class="btn btn-lg btn-danger mt-3">Encrypt</button>
    </div>
</div>

<div class="mb-3">
    <label for="cyphertextString" class="form-label">Cypher Text</label>
    <textarea class="form-control" id="cyphertextString" rows="3"></textarea>
    <div class="d-flex">
        <div class="container flex-grow-1"></div>
        <button type="button" class="btn btn-lg btn-danger mt-3 float-end">Decrypt</button>
    </div>
</div>