<div class="d-flex flex-wrap justify-content-between my-2">
  <button id="vigenere" type="button" class="btn btn-primary active btn-lg my-2">Vigenere Cypher</button>
  <button id="varian-vigenere" type="button" class="btn btn-primary disable btn-lg my-2">Varian Vigenere Cypher</button>
  <button id="extended vigenere" type="button" class="btn btn-primary disable btn-lg my-2">Extended Vigenere Cypher</button>
  <button id="affine" type="button" class="btn btn-primary disable btn-lg my-2">Affine Cypher</button>
  <button id="playfair" type="button" class="btn btn-primary disable btn-lg my-2">Playfair Cypher</button>
  <button id="hill" type="button" class="btn btn-primary disable btn-lg my-2">Hill Cypher</button>
  <button id="enigma" type="button" class="btn btn-primary disable btn-lg my-2">Enigma Cypher</button>  
</div>