<div class="mb-3">
    <label for="plaintextString" class="form-label">Plain Text</label>
    <textarea class="form-control" id="plaintextString" rows="3"></textarea>
    <div class="d-flex justify-content-between">
        <div class="w-50">
            <label for="keyString" class="form-label">Key</label>
            <input type="text" class="form-control" id="keyString">
        </div>
        <button type="button" class="btn btn-lg btn-danger mt-3">Encrypt</button>
    </div>
</div>

<div class="mb-3">
    <label for="cyphertextString" class="form-label">Cypher Text</label>
    <textarea class="form-control" id="cyphertextString" rows="3"></textarea>
    <div class="d-flex justify-content-between">
        <div class="w-50">
            <label for="keyString" class="form-label">Key</label>
            <input type="text" class="form-control" id="keyString">
        </div>
        <button type="button" class="btn btn-lg btn-danger mt-3">Decrypt</button>
    </div>
</div>