<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Crypta</h1>
    <p>Basic Cryptography Tools</p>
  </div>

  <!-- For changing form -->
  <%- include('../partials/cyphertype'); %>

  <!-- Placeholder -->
  <% if (crypt == "viginere") { %>
  <%- include('../partials/viginereForm'); %>
  <% } else if (crypt == "varian viginere") {%>
  <% } %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="./jQuery/jquery.min.js"></script>
<script src="./javascript/crypt.js" type="text/javascript"></script>
</body>
</html>